{% extends "base_generic.html" %}

{% block content %}
  <h1>Список туристов</h1>
  <a href="{% url 'create-tourist' %}">Добавить нового</a>
  <h3>Поиск туристов</h3>
  <form method="GET" action="" id="searchform">
    <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
  </form>
  {% if tourist_list %}
  <ul>
    {% for tourist in tourist_list %}
      <li>
        {{tourist.full_package_of_documents}}
        <a href="{{ tourist.get_absolute_url }}">{{ tourist.name }}</a> {{tourist.phone}}
          {% if perms.tourists.can_edit %}
            <a href="{% url 'update-tourist' tourist.id %}">Редактировать</a>
            <a href="{% url 'delete-tourist' tourist.id %}">Удалить</a>
          {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Список туристов пуст</p>
  {% endif %}
{% endblock %}
