{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ tourist.name }}</h1>

  <p><strong>Имя туриста:</strong> {{ name }}</a></p>
  <p><strong>Телефон:</strong> {{ phone }}</p>
  <p><strong>Email:</strong> {{ email }}</p>
  <p><strong>Дата прибытия:</strong> {{ date_of_arrival }}</p>
  <p><strong>Дата отъезда:</strong> {{ date_of_departure }}</p>
  <p><strong>Заметка:</strong> {{ note }}</p>
  <p><strong>Статус:</strong> {{ status }}</p>
  <table>
    {% if list_of_services %}
      <caption>Список услуг:</caption>
      <th>Наименование</th><th>начало</th><th>окончание</th><th>кол-во</th><th>стоимость</th>
      {% for service in list_of_services %}
    <tr><td>{{ service.0 }}</td><td>{{ service.1 }}</td><td>{{ service.2 }}</td><td>1 штука </td><td>{{ service.3 }}</td></tr>
      {% endfor %}
  </table>
        <h3> Итого: оказано {{ list_of_services|length }} услуг на сумму {{ total }}</h3>
    {% else %}
        <h3>У данного туриста нет оказанных услуг</h3>
    {% endif %}
      данные на {% now "jS F Y H:i" %}
{% endblock %}
